.products-container{

          display: grid;
          grid-template-columns: 4fr 1fr;
           
}

.product-container{

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
          padding: 30px;
          
}
.text-one{
          text-align: center;
}

.text-two{

          text-align: center;
}
 
.chose{

          padding: 10px;
          background-color: rgb(79, 97, 95);
          border: 10px;
          border-radius: 10px ;
          color: white;
          /* position: sticky;
          top: 0; */
          
}
.remove{

          padding: 10px;
          background-color: rgb(17, 51, 48);
          border: 10px;
          border-radius: 10px ;
          margin-left: 10px;
          color: white;
          /* position: sticky;
          top: 0; */

}

.cart-pass{

          position: sticky;
          top: 0;
           
}