.product{

          border: 8px ;
          border-radius:10px;
          padding: 8px;
          background-color: rgba(180, 162, 138, 0.589);
          /* background-color: rgb(4, 109, 74); */
          /* color: white; */
}


.product img{

          width: 250px;
          height: 200px;
          border: 10px;
          border-radius: 10px;
          
}
.btn-cart{

          padding: 10px;
          background-color: rgb(32, 28, 28);
          color: white;
          border: 10px;
          border-radius: 10px;
}
.icon{

          margin-left: 10px;
}